
<bci-wk-alert bci-success>
  <strong>Lorem ipsum</strong> sit amet, consectetur adipisicing elit doloribus!
</bci-wk-alert>

<button bciWkButtonPrimary>bciWkButtonPrimary</button>
  <button bciWkButtonSecondary>bciWkButtonSecondary</button>
  <button bciWkButtonTertiary>bciWkButtonTertiary</button>
  <button bciWkButtonDelete>bciWkButtonDelete</button>


  <bci-table title="Tabla con Checklist" [checkList]="true">
    <bci-table-row-header>
      <bci-table-title>Números</bci-table-title>
      <bci-table-title>Regiones</bci-table-title>
      <bci-table-title>Cantidad</bci-table-title>
      <bci-table-title>Cosas</bci-table-title>
      <bci-table-title>Montos</bci-table-title>
    </bci-table-row-header>

    <bci-table-row [checked]="true">
      <bci-table-col>30</bci-table-col>
      <bci-table-col>Arica</bci-table-col>
      <bci-table-col>30</bci-table-col>
      <bci-table-col>Villa</bci-table-col>
      <bci-table-col>30</bci-table-col>
    </bci-table-row>

    <bci-table-row>
      <bci-table-col>9000</bci-table-col>
      <bci-table-col>Antofagasta</bci-table-col>
      <bci-table-col>12</bci-table-col>
      <bci-table-col>Caja</bci-table-col>
      <bci-table-col>51</bci-table-col>
    </bci-table-row>

    <bci-table-row>
      <bci-table-col>7000</bci-table-col>
      <bci-table-col>Santiago</bci-table-col>
      <bci-table-col>48</bci-table-col>
      <bci-table-col>Agua</bci-table-col>
      <bci-table-col>3852</bci-table-col>
    </bci-table-row>

    <bci-table-row>
      <bci-table-col>15500</bci-table-col>
      <bci-table-col>Talca</bci-table-col>
      <bci-table-col>25</bci-table-col>
      <bci-table-col>Gato</bci-table-col>
      <bci-table-col>100</bci-table-col>
    </bci-table-row>

    <bci-table-row>
      <bci-table-col>2300</bci-table-col>
      <bci-table-col>Concepción</bci-table-col>
      <bci-table-col>76</bci-table-col>
      <bci-table-col>Agua</bci-table-col>
      <bci-table-col>1</bci-table-col>
    </bci-table-row>

    <bci-table-row>
      <bci-table-col>2800</bci-table-col>
      <bci-table-col>Valdivia</bci-table-col>
      <bci-table-col>40</bci-table-col>
      <bci-table-col>Agua</bci-table-col>
      <bci-table-col>380</bci-table-col>
    </bci-table-row>
  </bci-table>