<div class="box-container">
    <div class="box wk-padding-all-32">
        <div class="wk-row">
            <div class="wk-col-xs-12 wk-col-md-12 wk-col-lg-12">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let label of tableLabel1" class="cursor-text" >{{label.title}}</th>
                            </tr>
                       </thead>
                    </table>
                    <div *ngIf="ingresadas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="ingresadas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Ingresadas({{ingresadas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                            
                                           <tbody>
                                                <tr *ngFor="let item of ingresadas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>
                                               
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
    
                    <div *ngIf="rechazadas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="rechazadas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Rechazadas({{rechazadas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                            
                                           <tbody>
                                               
                                                <tr *ngFor="let item of rechazadas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>  
                                          
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
    
                    <div *ngIf="desembolsadas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="desembolsadas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Desembolsadas({{desembolsadas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                           
                                           <tbody>
                                               
                                                <tr *ngFor="let item of desembolsadas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>  
                                          
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
    
                    <div *ngIf="reCedidas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="re-cedidas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Re cedidas({{reCedidas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                           
                                           <tbody>
                                               
                                                <tr *ngFor="let item of reCedidas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>  
                                          
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
    
                    <div *ngIf="cerradas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="cerradas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Cerradas({{cerradas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                           
                                           <tbody>
                                               
                                                <tr *ngFor="let item of cerradas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>  
                                          
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
    
                    <div *ngIf="abonadas.length > 0">
                        <bci-accordion  >
                            <bci-accordion-item >
                            <bci-accordion-principal class="abonadas header-acordion cursor-pointer">
                                <bci-accordion-title>
                                    <span class="text-table">Abonadas({{abonadas.length}})</span>
                                </bci-accordion-title>
                                <bci-accordion-title-description>
                                    
                                </bci-accordion-title-description>
                            </bci-accordion-principal>
                            <bci-accordion-content>
                                <bci-accordion-body class="pad-0">
                                    <div class="table-container">
                                        <table>
                                        
                                           <tbody>
                                               
                                                <tr *ngFor="let item of abonadas" class="line-height-10">
                                                    <td>{{item.rut_proveedor}}</td>
                                                    <td>{{item.razon_social_proveedor}}</td>
                                                    <td>{{item.banco_abono}}</td>
                                                    <td>{{item.monto_pagar | currency}}</td>
                                                    <td>{{item.cantidad_documentos}}</td>
                                                    <td>{{item.fecha_ingreso}}</td>
                                                    <td>{{item.hora_ingreso}}</td>
                                                    <td>Firma LBTR</td>
                                                    <td>Re-ceder</td>
                                                </tr>  
                                          
                                           </tbody>
                                        </table>
                                    </div>
                                </bci-accordion-body>
                            </bci-accordion-content>
                            </bci-accordion-item>
                        </bci-accordion>
                    </div>
                </div><br><br>
                




                <div class="wk-row">
                    <div class=" wk-col-md-8 "></div>
                    <div class=" wk-col-md-4 ">

                        <div class="wk-row">
                            <div class="wk-col-md-6 ">
                                <bci-wk-input-text 
                                    [placeholder]="'Buscar'"  
                                    [label]="'Proveedor...'" 
                                    name="filterProveedor" 
                                    placeholder="Search..." 
                                    [(ngModel)]="filterProveedor">
                                </bci-wk-input-text>
                            </div>
                            
                            <div class="wk-col-md-6 ">
                                <bci-wk-input-text 
                                    [placeholder]="'Buscar'"  
                                    [label]="'Inversionista...'" 
                                    name="filterProveedor" 
                                    placeholder="Search..." 
                                    [(ngModel)]="filterProveedor">
                                </bci-wk-input-text>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <bci-table >

                    <bci-table-row-header>
                        <bci-table-title *ngFor="let label of tableLabel3" 
                        [ngClass]="{
                            'pad-0': label.title === 'N° de documentos',
                            'align-center': label.title === 'Estado' || label.title === 'Rut Proveedor',
                            'pad-left-10': label.title === 'Rut Proveedor'}">
                            {{label.title}}
                        </bci-table-title>
                        
                    </bci-table-row-header>
                
                    <bci-table-row *ngFor="let item of operaciones | filter:filterProveedor">
                        <bci-table-col class="text-table align-center" [ngClass]="{
                            'ingresadas': item.estado === 'ingresadas', 
                            'rechazadas': item.estado === 'rechazadas',
                            'abonadas': item.estado === 'abonadas',
                            'cerradas': item.estado === 'cerradas',
                            're-cedidas': item.estado === 're-cedidas',
                            'desembolsadas': item.estado === 'desembolsadas'}">{{item.estado | titlecase}}
                        </bci-table-col>
                        
                        <bci-table-col class="text-table align-center">{{item.rut_proveedor}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.razon_social_proveedor}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.banco_abono}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.monto_pagar | currency}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.cantidad_documentos}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.fecha_ingreso}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.hora_ingreso}}</bci-table-col>
                        <bci-table-col class="text-table">
                            <span *ngIf="item.estado === 'abonadas' else noAbonadas"><bci-wk-checkbox label="Firma LBTR"></bci-wk-checkbox></span>
                            <ng-template #noAbonadas> - </ng-template>
                        </bci-table-col>
                        <bci-table-col class="text-table">
                            <span *ngIf="item.estado === 'abonadas' else noAbonadas"><bci-wk-checkbox label="Re-ceder"></bci-wk-checkbox></span>
                            <ng-template #noAbonadas> - </ng-template>
                        </bci-table-col>
                        
                        
                    </bci-table-row>
                
                    
                </bci-table><br><br>




                <bci-table title="3ra propuesta">
                    <bci-table-row-header>
                        <bci-table-title *ngFor="let label of tableLabel2" [ngClass]="{'pad-0': label.title === 'Cantidad de documentos'}">
                            {{label.title}}
                        </bci-table-title>
                        
                    </bci-table-row-header>
                
                    <bci-table-row *ngFor="let item of operaciones" 
                        [ngClass]="{
                            'ingresadas': item.estado === 'ingresadas', 
                            'rechazadas': item.estado === 'rechazadas',
                            'abonadas': item.estado === 'abonadas',
                            'cerradas': item.estado === 'cerradas',
                            're-cedidas': item.estado === 're-cedidas',
                            'desembolsadas': item.estado === 'desembolsadas'}">
                        <bci-table-col class="text-table">{{item.rut_proveedor}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.razon_social_proveedor}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.estado | titlecase}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.banco_abono}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.monto_pagar | currency}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.cantidad_documentos}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.fecha_ingreso}}</bci-table-col>
                        <bci-table-col class="text-table">{{item.hora_ingreso}}</bci-table-col>
                        <bci-table-col class="text-table">
                            <span *ngIf="item.estado === 'abonadas' else noAbonadas"><bci-wk-checkbox label="Firma LBTR"></bci-wk-checkbox></span>
                            <ng-template #noAbonadas> - </ng-template>
                        </bci-table-col>
                        <bci-table-col class="text-table">
                            <span *ngIf="item.estado === 'abonadas' else noAbonadas"><bci-wk-checkbox label="Re-ceder"></bci-wk-checkbox></span>
                            <ng-template #noAbonadas> - </ng-template>
                        </bci-table-col>
                    </bci-table-row>
                
                    
                </bci-table>



               
            </div>
        </div>
    </div>
   
</div>



























